* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "ABeeZee", sans-serif;
}

body {
  background-color: #121212;
}

::-webkit-scrollbar {
  width: 0;
}

h1 {
  color: #ffb7ce;
  font-family: "ABeeZee", sans-serif;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page1 {
  display: inline-flex;
}
.left {
  width: 50vw;
}

#pfp {
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 40px #cc7722;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}

#pfp:hover {
  box-shadow: 0 0 50px #42d53a;
}

#name {
  font-size: 50px;
  padding-top: 40px;
  width: 50vw;
  text-align: center;
  background-image: radial-gradient(
    circle 918px at 13.1% 25.5%,
    rgba(249, 107, 107, 1) 0%,
    rgba(247, 231, 172, 1) 48.9%,
    #cc7722 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pfp:hover {
  box-shadow: 0 0 70px #ffb7ce;
}

.right {
  height: 100vh;
  width: 50vw;
  align-items: center;
  justify-content: center;
}

.right span {
  position: relative;
  top: 40%;
  left: 10%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
}

#intr {
  height: 100vh;
  top: 50%;
}

#intrest {
  background: linear-gradient(180deg, #f8ff00 0%, #3ad59f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#cursor {
  font-size: 60px;
}

.page2 {
  height: 100vh;
  color: #fff;
  padding: 2em;
}

.page2::before {
  content: " ";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.page2 h1 {
  margin: 0.3em;
  font-size: 3em;
}

.page2 h2 {
  margin-bottom: 0.5em;
}

.title {
  text-align: center;
  padding-top: 10vh;
}

.title p {
  color: gray;
  font-size: 1.3em;
  letter-spacing: 2px;
}

#benj {
  border-bottom: #888 2px dotted;
  padding-bottom: 10vh;
}

.timeline {
  margin: 0 auto;
  max-width: 34.15em;
}

.checkpoint {
  max-width: 34em;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
}

.checkpoint div {
  border: 2px solid #888;
  border-radius: 1em;
  padding: 1.5em;
}

.checkpoint p {
  line-height: 27px;
  color: #ccc;
}

.checkpoint:nth-child(odd) {
  border-left: 3px solid #888;
  padding-left: 3em;
  transform: translateX(17em);
}

.checkpoint:nth-child(even) {
  border-right: 3px solid #888;
  padding-right: 3em;
  transform: translateX(-17em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
  content: " ";
  background: #888;
  width: 3em;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
  left: 0;
}

.checkpoint:nth-child(even)::before {
  right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
  content: " ";
  background: #fff;
  box-shadow: 0 0 0.5em #0d71fc;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
  left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
  right: -0.5em;
}

.page3 {
  height: 100vh;
}

@media screen and (max-width: 600px) {
  #pfp {
    height: 300px;
    left: 50%;
  }

  #intr {
    height: 0vh;
  }

  .page1 {
    display: table;
  }

  .left {
    width: 100vw;
    height: 60vh;
  }

  .right {
    height: 20vh;
    width: 100vw;
  }

  #name {
    width: 100vw;
  }

  .right span {
    font-size: 30px;
  }

  #cursor {
    font-size: 40px;
  }
}

@media screen and (max-width: 1150px) {
  .timeline {
    width: 80vw;
    margin: 2em auto;
  }

  #title {
    padding-top: 0;
  }
  .timeline .checkpoint {
    width: 100%;
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }

  .timeline .checkpoint::before {
    width: 3px;
    height: 4em;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline .checkpoint div::before {
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
  }
}
